Source: lpscoin
Section: utils
Priority: optional
Maintainer: LPSCoin Debian Team <team@lpscoin.org>
Uploaders: Micah Anderson <micah@debian.org>
Build-Depends: debhelper (>= 13),
               devscripts,
               automake,
               libtool,
               bash-completion,
               libboost-system-dev (>= 1.64),
               libboost-filesystem-dev (>= 1.64),
               libboost-program-options-dev (>= 1.64),
               libboost-thread-dev (>= 1.64),
               libboost-test-dev (>= 1.64),
               libdb4.8++-dev,
               libssl-dev,
               pkg-config,
               libminiupnpc-dev,
               qtbase5-dev | qt6-base-dev,
               libqt5gui5 | libqt6gui6,
               libqrencode-dev,
               libprotobuf-dev,
               protobuf-compiler
Standards-Version: 4.6.2
Homepage: https://lpscoin.org
Vcs-Git: git://github.com/Luxury-Property-Solutions-LLC/LPSCoin.git
Vcs-Browser: https://github.com/Luxury-Property-Solutions-LLC/LPSCoin

Package: lpscoinsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 LPSCoin is a free, open-source, peer-to-peer electronic cash system that
 is fully decentralized, without a central server or trusted parties.
 Users manage their own crypto keys and transact directly, with the P2P
 network ensuring no double-spending.
 .
 Full transaction history is stored locally, requiring 1+ GB of space,
 growing over time.
 .
 This package provides `lpscoinsd`, the daemon for managing the LPSCoin
 blockchain and network.

Package: lpscoins-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 LPSCoin is a free, open-source, peer-to-peer electronic cash system that
 is fully decentralized, without a central server or trusted parties.
 Users manage their own crypto keys and transact directly, with the P2P
 network ensuring no double-spending.
 .
 Full transaction history is stored locally, requiring 1+ GB of space,
 growing over time.
 .
 This package provides `lpscoins-qt`, a graphical interface for LPSCoin
 built with Qt.
