[Desktop Entry]
Encoding=UTF-8
Name=lpscoins
Comment=lpscoins P2P Cryptocurrency
Comment[fr]=lpscoins, monnaie virtuelle cryptographique pair à pair
Comment[tr]=lpscoins, eşten eşe kriptografik sanal para birimi
Exec=lpscoins-qt %u
Terminal=false
Type=Application
Icon=lpscoins128
MimeType=x-scheme-handler/lpscoins;
Categories=Office;Finance;
